:root {
  --width: 1280px;
  --padding: 0 30px;

  /* colors */
  --active: #B71129;
  --bg: #212226;
  --border-color: #eee;
  --silver: #666;

  /* fonts */
  --roboto: 'Roboto', 'Arial';


  --font-smooth: {
    font-smoothing: antialiased;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  };

  --transition: {
    transition: all 0.3s ease;
  };
}