@import "../../public/css/variables.pcss";

.header {
  background-color: var(--bg);

  .wrapper {
    background-color: var(--bg);
    height: 50px;
    padding: var(--padding);
    display: flex;
  }
}

